@charset "UTF-8";
#container {
	padding: 65px 0 0 0;
	text-align: center;
	width: 1200px;
	margin: auto;
	zoom: 1;
	margin: 0 auto 100px auto;
}

#div-dining {
	display: block;
	margin-top: 50px;
}

#div-dining img {
	width: 1200px;
	height: 60px;
}

#div-specialOffer {
	display: block;
	margin: auto;
	margin-top: 50px;
	width: 1200px;
	height: 2400px;
}

#specialOffer img {
	width: 300px;
	height: auto;
}

#plus {
	float: right;
	text-align: center;
	vertical-align: bottom;
}

#plus img {
	width: 80px;
	height: auto;
}

/* 로그인 헤더 */
.contents .location {
	float: right;
	height: 20px;
	padding: 9px 0 0 0;
	margin: 0 0 -30px 0;
	overflow: hidden;
	z-index: 9;
	position: relative;
}

.rgt {
	right: 172px;
}

.contents .location .list {
	display: block;
	font-size: 11px;
	background: url(resources/images/locaton.gif) no-repeat 0 1px;
	line-height: 12px;
	padding: 0 0 0 17px;
}

.contents .location .list strong {
	color: #865009;
	font-weight: normal;
	text-decoration: underline;
}

.logo {
	margin: 50px 0 30px 0;
	color: #865009;
	font-size: 30px;
	font-weight: normal;
}

.info {
	font-size: 14px;
}

.contents .headTit .tit {
	float: left;
	width: 430px;
	height: 35px;
	line-height: 100px;
	overflow: hidden;
}

.loginBox.contents .headTit {
	border-bottom: #432c10 solid 5px;
	height: 47px;
	width: 866px;
	margin: 0 auto;
}

/* 로그인폼 */
.loginBox .tabForm .loginTab {
	display: block;
	position: relative;
	top: 0px;
	left: 0px;
	width: 600px;
	margin: 0 auto;
}

.loginBox .inputId .id, .loginBox .inputPw .pw {
	background-position: 2px 3px;
	width: 280px;
	border: 0 ;
	margin: 0 0 7px 0;
}

.loginBox .box .formBox {
	width: 404px;
	margin: auto;
	position: relative;
}

.loginBox .formBox .loginSet {
	position: relative;
	zoom: 1;
}

.logintab img {
	width: 300px;
	margin: 0;
	pading: 0;
}

.loginBox .box {
	background: #f1ebd6;
	padding: 30px 0 30px 0;
	width: 600px;
	margin: auto;
}

.loginBox.contents .headTit .tit {
	background: url(resources/images/loginTit.gif) no-repeat;
	width: 467px;
	line-height: 200px;
	overflow: hidden;
}

.loginBox .top {
	background: url(resources/images//loginTop.gif) no-repeat;
	width: 600px;
	height: 144px;
	margin: 0 auto 35px;
}
.loginheader{
	display:inline-flex;
}

.loginimage {
	float:left;
}

button{
	background-color: #856f56;
	color: #fff;
	border: 0px;
	pading: 2px;
	margin: 0;
}

button a{
	color: white;
	font-size: 13px;
	hover: none;
}

.loginT {
	background: none repeat scroll 0 0 #FBFBFB;
	text-align: center;
	border: 1px solid #E9E9E9;
	padding: 8px 0 8px 0;
	width: 600px;
	margin: 10px auto;
	font-size: 13px;
}

.loginT p {
	margin-top : 0;
	margin-bottom: 0;
}

.beLogin {
	background: #f1ebd6;
	padding: 20px 0 20px 0;
	width: 600px;
	margin: 10px auto;
	font-size: 13px;
}

.loginBtn {
	display: inline-block;
}

