@charset "UTF-8";
/* header */
	.header{position:fixed;top:0;left:0;width:100%;border-bottom:1px solid #DCDCDC;background:#fff;z-index:500}
	.header.mb_header_style{display:none}
	.header .h-top{border-bottom:1px solid #DCDCDC}
	.header .h-top .h-inside{position:relative;height:60px;padding:16px 0;text-align:center}
	.header .h-top .h-inside .home{position:absolute;top:19px;left:20px;width:22px;height:22px;background:url(/images/shop/common/mb_ico_home.png) no-repeat 50%;background-size:100%;text-indent:-9999px;overflow:hidden}
	.header .h-top .h-inside .logo{display:none;/* width:215px;margin:0 auto */line-height:30px;text-indent:-20px;font-size:18px;font-weight:500}
	.header .h-top .h-inside .h-util-menu{display:none}
	.header .h-bottom .h-inside .nm_logo{display:none}
	.header .h-bottom .h-inside .btn_gnb{position:absolute;top:23px;right:20px}
	.header .h-bottom .h-inside .btn_gnb span{display:block;width:20px;height:2px;background:#333}
	.header .h-bottom .h-inside .btn_gnb span:nth-child(2),
	.header .h-bottom .h-inside .btn_gnb span:nth-child(3){margin-top:4px}
	.header .h-bottom .h-inside .btn_srch{position:absolute;top:19px;right:52px;width:22px;height:22px;text-indent:-9999px;overflow:hidden;background:url(/images/shop/common/mb_ico_srch.png) no-repeat 50%;background-size:100%}
	.header .h-bottom .h-inside .btn_srch.on{background:url(/images/shop/common/mb_ico_close.png) no-repeat 50%;background-size:18px}
	.header .h-bottom .h-inside .mb_gnb{display:none}
	.header .h-bottom .h-inside .gnb_menu{padding:0 6px}
	.header .h-bottom .h-inside .gnb_menu>ul{white-space:noh-inside;overflow-x:auto}
	.header .h-bottom .h-inside .gnb_menu>ul>li{display:inline-block;margin:0 14px}
	.header .h-bottom .h-inside .gnb_menu>ul>li>a{position:relative;padding:10px 0;font-size:15px}
	.header .h-bottom .h-inside .gnb_menu>ul>li.on>a{font-weight:500}
	.header .h-bottom .h-inside .gnb_menu>ul>li.on>a::after{content:"";display:block;position:absolute;bottom:0;left:0;width:100%;height:2px;background:#333}
	.header .h-bottom .h-inside .gnb_menu .depth2{display:none}
	.header .h-bottom .h-inside .top_srch_area{display:none;position:absolute;top:100px;left:0;width:100%;background:#fff;padding:40px 20px;z-index:100}
	.header .h-bottom .h-inside .top_srch_area .srch_box{border:1px solid #DCDCDC}
	
/* quick */
	.quick{position:fixed;right:20px;bottom:10%;z-index:550}
	.quick .js-top-btn{width:40px;height:40px;border-radius:100%;background:#666 url(/images/shop/common/shop_icon_top.png) no-repeat 50%;background-size:14px;text-indent:-9999px;overflow:hidden}

/* footer */
	footer{background:#111;margin-top:110px;padding:30px 20px 40px;color:#999}
	.footer .f-top .f-inside{padding-top:76px;background:url(/images/shop/common/shop_logo_wht.png) no-repeat 0 0;background-size:62px}
	.footer .f-top .f-inside p{line-height:19px}
	.footer .f-top .f-inside .f-menu{position: absolute;  top: 0;  right: 0;}
	.footer .f-top .f-inside p{line-height:19px}
	.footer .f-top .f-inside .txt{margin-top:20px}
	.footer .f-top .f-inside .txt p:last-child{margin-top:5px}
	.footer .f-top .f-inside form input[type='text']{display:none}
	.footer .f-top .f-inside form input[type='button']{width:115px;height:40px;line-height:38px;margin-top:10px;border:0;border-radius:0}
	.footer .f-bottom .f-inside>ul{margin:30px 0 40px}
	.footer .f-bottom .f-inside>ul>li{margin-top:15px;font-weight:500}
	.footer .js-toggle .js-familytitle-btn{border:1px solid #666;background:url(/images/shop/common/mb_ico_sel.png) no-repeat 100% 50%;background-size:34px;line-height:38px;color:#999}
	.footer .js-toggle .js-familytitle-btn.on{background:url(/images/shop/common/mb_ico_sel_on.png) no-repeat 100% 50%;background-size:34px}
	.footer .js-toggle ul{background:#111;border:1px solid #666;border-bottom:0;padding:10px 0}
	.footer .js-toggle ul li:not(:first-child) .js-change-btn{margin-top:20px}
	
/* common style - button */
.btn_txt{display:inline-block;width:180px;font-size:16px}
.btn_area{margin-top:100px}
.btn_area.col2 .btn_txt,.btn_area.col3 .btn_txt{float:none;width:260px;margin-right:7px}

/* common style - srch_box */
.srch_box input{width:calc(100% - 62px)}
.srch_box button{width:62px;background:#fff url(/asset/images/eshop/default/pc_ico_srch.png) no-repeat 50%;background-size:22px}

/* module - toggle */
.js-toggle .js-familytitle-btn{font-size:16px}
.js-toggle ul li .js-change-btn{font-size:16px}
