<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sh.mapper.AdminManageMapper">

	<!-- void updateRoomRequestById(AdminRoomRequestUpdateForm adminRoomRequestUpdateForm); -->
	<update id="updateRoomRequestById" parameterType="com.sh.web.form.AdminRoomRequestUpdateForm">
		update sh_room
		set
			room_price = #{priceInt},
			room_discount_price = #{discountPriceInt},
			room_request = #{request}
		where room_id = to_number(#{id})	
	</update>
	
	<!-- void fixCheckedById(String id); -->
	<update id="fixCheckedById" parameterType="string">
		update sh_room
		set
			room_rev = 'F'
		where room_id = to_number(#{id})	
	</update>
	
	<!-- void completeCheckedById(String id); -->
	<update id="completeCheckedById" parameterType="string">
		update sh_room
		set
			room_rev = 'E'
		where room_id = to_number(#{id})	
	</update>
	
	<resultMap type="Room" id="RoomResultMap">
		<id column="room_id" property="id"/>
		<result column="room_no" property="no"/>
		<result column="room_name" property="name"/>
		<result column="room_price" property="price"/>
		<result column="room_discount_price" property="discountPrice"/>
		<result column="room_rev" property="rev"/>
		<result column="room_checkin_period" property="checkinPeriod"/>
		<result column="room_image" property="image"/>
		<result column="room_request" property="request"/>
		<association property="location" column="location_no" select="com.sh.mapper.DiningMapper.getLocationByNo"></association>
		<association property="roomCategory" column="room_category_no" select="com.sh.mapper.RoomMapper.getRoomCategoryByNo"></association>
	</resultMap>
	
	<!-- Room getRoomRequestById(int id); -->
	<select id="getRoomRequestById" parameterType="int" resultMap="RoomResultMap">
		select *
		from sh_room
		where room_id = #{id}
	</select>
	
	<!-- int getRoomManageTotalRows(); -->
	<select id="getRoomManageTotalRows" resultType="int">
	 	select count(*)
	 	from sh_room
	</select>
	<!-- List<RoomRev> getAllRoomManageList(Pagination pagination); -->
	<select id="getAllRoomManageList" parameterType="Pagination" resultMap="RoomResultMap">
		select *
		from (select row_number() over (order by room_id asc) row_number, R.*
			  from sh_room R)
	    where row_number &gt;= #{beginIndex} and row_number &lt;= #{endIndex}
	</select>
	
	<!-- int getTotalRowsByRoomFilter(AdminRoomManageCriteria adminRoomManageCriteria); -->
	<select id="getTotalRowsByRoomFilter" parameterType="AdminRoomManageCriteria" resultType="int">
		select count(*)
		from sh_room
		<where>
			<if test="location != 0">
				location_no = #{locationNo}
			</if>
			<if test="roomCategory != 0">
                and room_category_no in (select g.room_category_no
                                         from sh_room_category g, sh_room_category c
                                         where g.room_group_no = c.room_category_no
                                         and g.room_group_no = #{roomCategoryNo})
			</if>
			<if test="roomStatus != null">
				and room_rev = #{roomStatus}
			</if>
		</where>	  
	</select>
	
	<!-- List<RoomRev> filterRoom(AdminRoomManageCriteria adminRoomManageCriteria); -->
	<select id="filterRoom" parameterType="AdminRoomManageCriteria" resultMap="RoomResultMap">
		select *
		from (select row_number() over
		<choose>	
			<when test='sort == null'>
				(order by room_id asc)
			</when>
			<when test='sort == "id"'>
				(order by room_id desc)
			</when>
			<when test='sort == "price" '>
				(order by room_price desc)
			</when>		
		</choose>
			row_number, R.*
			from sh_room R
		<where>
			<if test="location != 0">
				location_no = #{locationNo}
			</if>
			<if test="roomCategory != 0">
                and room_category_no in (select g.room_category_no
                                         from sh_room_category g, sh_room_category c
                                         where g.room_group_no = c.room_category_no
                                         and g.room_group_no = #{roomCategoryNo})
			</if>
			<if test="roomStatus != null">
				and room_rev = #{roomStatus}
			</if>
		</where>	  
			  )
		<where>
				row_number &gt;= #{beginIndex} and row_number &lt;= #{endIndex}
		</where>
	</select>
</mapper>