<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sh.mapper.DiningMapper">

	<!-- void insertReservation(RtRev rtRev); -->
	<insert id="insertReservation" parameterType="RtRev">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			select rt_rev_seq.nextval
			from dual
		</selectKey>
		insert into sh_rt_rev
		(rt_rev_no, rt_rev_adult, rt_rev_child, rt_rev_baby, rt_rev_visit_time,
		rt_seat_type, rt_rev_request, rt_rev_created_date, rt_rev_updated_date, dn_no, user_id,
		rt_rev_visit_date, rt_rev_meal_time, rt_rev_is_member, rt_rev_is_allergy, rt_rev_name,
		rt_rev_email, rt_rev_tel, rt_rev_card_sort, rt_rev_card_num1, rt_rev_card_num2, rt_rev_card_num3, rt_rev_card_num4,
		rt_rev_card_expiry_month, rt_rev_card_expiry_year, rt_rev_reservation_no)
		values
		(#{no}, #{adult}, #{child}, #{baby}, #{visitTime}, #{seatType}, #{request}, sysdate, sysdate, #{dn.no}, 
		#{user.id}, #{visitDate}, #{mealTime}, #{isMember}, #{isAllergy}, #{name}, #{email}, #{tel}, #{cardSort}, 
		#{cardNum1}, #{cardNum2}, #{cardNum3}, #{cardNum4}, 
		#{cardExpiryMonth}, #{cardExpiryYear}, #{reservationNo})
	</insert>
	
	<!-- void insertAllergySelected(); -->
	<insert id="insertAllergySelected">
		insert into SH_RT_ALLERGY_SELECTED
		(rt_rev_no, allergy_no)
		values
		(#{rtRevNo}, #{allergyNo})
	</insert>
	
	<!-- Location getLocationByNo(int no); -->
	<select id="getLocationByNo" parameterType="int" resultType="Location">
		select location_no as no,
			   location_name as name
		from sh_location
		where location_no = #{value}
	</select>
	
	<!-- Location getLocationByDnNo(int dnNo); -->
	<select id="getLocationByDnNo" parameterType="int" resultType="Location">
		select a.location_no as no,
			a.location_name as name
		from sh_location a, sh_dn d
		where a.location_no = d.location_no
		and d.dn_no = #{value}
	</select>

	<!-- List<Location> getAllLocations(); -->
	<select id="getAllLocations" resultType="Location">
		select location_no as no,
			   location_name as name
		from sh_location
		order by location_no asc
	</select>
	
	<!-- List<Dining> getDiningByLocationNo(int no); -->
	<select id="getDiningByLocationNo" parameterType="int" resultMap="DiningResultMap">
		select *
		from sh_dn
		where location_no = #{value}
	</select>
	
	<!-- DiningInfo getDiningInfoByNo(int no); -->
	<select id="getDiningInfoByNo" parameterType="int"	resultType="DnInfo">
		select dn_info_main as main,
			   dn_info_detail as detail,
			   dn_info_location as location,
			   dn_info_time as time,
			   dn_info_tel as tel,
			   dn_info_room as room,
			   dn_info_seat as seat,
			   dn_no as diningNo,
			   dn_info_food_img1 as foodimage1,
			   dn_info_food_img2 as foodimage2,
			   dn_info_food_img3 as foodimage3,
			   dn_info_lunch_pdf as lunchPdf,
			   dn_info_dinner_pdf as dinnerPdf,
			   dn_info_notice as notice
		from sh_dn_info
		where dn_no = #{value}
	</select>
	
	<resultMap type="Dn" id="DiningResultMap">
		<id column="dn_no" property="no"/>
		<result column="dn_name" property="name"/>
		<result column="dn_image" property="imagename"/>
		<result column="dn_max_count" property="maxCount"/>
		<association property="location" column="dn_no" select="getLocationByDnNo"/>
		<association property="dnInfo" column="dn_no" select="getDiningInfoByNo"/>
		<association property="dnCategory" column="dn_category_no" select="getDnCategoryByNo"/>
	</resultMap>
	
	<resultMap type="DnRev" id="DiningRevResultMap">
		<result column="dn_rev_meal_time" property="mealTime"/>
		<result column="dn_rev_week" property="week"/>
		<result column="dn_rev_time" property="time"/>
		<association property="dn" column="dn_no" select="getDiningByNo"/>
	</resultMap>
	
	<resultMap type="DnCategory" id="DnCategoryResultMap">
		<id column="dn_category_no" property="no"/>
		<result column="dn_category_name" property="name"/>
		<result column="dn_group_no" property="groupNo"/>
	</resultMap>
	
	<!-- DnCategory getDnCategoryByNo(int no); -->
	<select id="getDnCategoryByNo" parameterType="int" resultMap="DnCategoryResultMap">
		select *
		from sh_dn_category
		where dn_category_no = #{no}
	</select>
	<!-- Dining getDiningByNo(int no); -->
	<select id="getDiningByNo" parameterType="int" resultMap="DiningResultMap">
		select *
		from sh_dn
		where dn_no = #{value}
	</select>
	
	<!-- DnRev getDiningRevByNo(int no); -->
	<select id="getDiningRevByNo" parameterType="int" resultMap="DiningRevResultMap">
		select *
		from sh_dn_rev
		where dn_no = #{value}
	</select>
	
	<!-- String getMealTimeByNo(int no); -->
	<select id="getMealTimeByNo" parameterType="int" resultType="DnMealTime">
		select distinct dn_rev_meal_time as mealTime
		from sh_dn_rev
		where dn_no = #{value}
	</select>
	
	<select id="getTimeByParaMeters" resultType="String">
		select dn_rev_time
		from sh_dn_rev
		where dn_no = #{no}
		and dn_rev_meal_time = #{mealTime}
		and dn_rev_week = #{week}
	</select>
	
	<select id="getAllAllergies" resultType="Allergy">
		select 
			allergy_no as no,
			allergy_type as type
		from sh_rt_allergy
		order by allergy_no asc
	</select>
	
	<!-- void insertRtRevCount(RtRevCount rtRevCount); -->
	<insert id="insertRtRevCount" parameterType="RtRevCount">
		insert into sh_rt_rev_count
		(rt_rev_count, rt_rev_count_date, dn_no, rt_rev_count_meal_time, rt_rev_count_seat_type) 
		values
		(#{count}, #{date}, #{dn.no}, #{mealTime}, #{seatType})
	</insert>
	
	<!-- int getDnSeatCountOfDay(@Param("no") int no, @Param("date") Date date, @Param("seatType") String seatType); -->
	<select id="getDnSeatCountOfDate" resultType="DnSeatCountOfDate">
		select 
			sum(rt_rev_count) as count, 
			rt_rev_count_meal_time as mealTime
		from 
			sh_rt_rev_count
		where
			dn_no = #{no} 
			 and
			rt_rev_count_date = #{date}
		 	 and 
			rt_rev_count_seat_type = #{seatType}
		group by rt_rev_count_meal_time
	</select>
	
	<!-- int getTotalSeatByNo(Dn dn); -->
	<select id="getTotalSeatByNo" parameterType="int" resultType="int">
		select 
			dn_info_seat
		from 
			sh_dn_info
		where
			dn_no = #{value}
	</select>
	
	<!-- int getTotalRoomByNo(Dn dn); -->
	<select id="getTotalRoomByNo" parameterType="int" resultType="int">
		select
			dn_info_room
		from 
			sh_dn_info
		where
			dn_no = #{value}
	</select>
	
	<!-- RtRev getRtRevByRevNo(String no); -->
	<select id="getRtRevByRevNo" resultMap="RtRevResultMap" parameterType="String">
		select	*
		from sh_rt_rev
		where rt_rev_reservation_no = #{value}
	</select>
	
	<resultMap type="RtRev" id="RtRevResultMap">
		<id column="rt_rev_no" property="no"/>
		<result column="user_id" property="userId"/>
		<result column="rt_rev_adult" property="adult"/>
		<result column="rt_rev_child" property="child"/>
		<result column="rt_rev_baby" property="baby"/>
		<result column="rt_rev_visit" property="isVisit"/>
		<result column="rt_rev_visit_time" property="visitTime"/>
		<result column="rt_rev_visit_date" property="visitDate"/>
		<result column="rt_seat_type" property="seatType"/>
		<result column="rt_rev_request" property="request"/>
		<result column="rt_rev_created_date" property="createdDate"/>
		<result column="rt_rev_updated_date" property="updatedDate"/>
		<result column="rt_rev_meal_time" property="mealTime"/>
		<result column="rt_rev_is_member" property="isMember"/>
		<result column="rt_rev_is_allergy" property="isAllergy"/>
		<result column="rt_rev_etc_allergy" property="ectAllergy"/>
		<result column="rt_rev_name" property="name"/>
		<result column="rt_rev_email" property="email"/>
		<result column="rt_rev_tel" property="tel"/>
		<result column="rt_rev_card_sort" property="cardSort"/>
		<result column="rt_rev_card_num1" property="cardNum1"/>
		<result column="rt_rev_card_num2" property="cardNum2"/>
		<result column="rt_rev_card_num3" property="cardNum3"/>
		<result column="rt_rev_card_num4" property="cardNum4"/>
		<result column="rt_rev_card_expiry_month" property="cardExpiryMonth"/>
		<result column="rt_rev_card_expiry_year" property="cardExpiryYear"/>
		<result column="rt_rev_reservation_no" property="reservationNo"/>
		<result column="rt_rev_status" property="status"/>
		<association property="dn" column="dn_no" select="getDiningByNo"/>
		<!-- <association property="user" column="user_id" select="com.sh.mapper.UserMapper.getUserById"/> -->
	</resultMap>
	
	<!-- void deleteRtRevCount(@Param("mealTime") String mealTime,@Param("seatType") String seatType, @Param("revCount") int revCount); -->
	<delete id="deleteRtRevCount">
		delete from
			sh_rt_rev_count
		where rt_rev_count_meal_time = #{mealTime}
		and rt_rev_count_seat_type = #{seatType}
		and rt_rev_count = #{revCount}
	</delete>
	
	<update id="updateRtRev" parameterType="RtRev">
		update sh_rt_rev
		set
			rt_rev_adult = #{adult},
			rt_rev_child = #{child},
			rt_rev_baby = #{baby},
			rt_rev_visit = #{isVisit},
			rt_rev_visit_time = #{visitTime},
			rt_rev_visit_date = #{visitDate},
			rt_seat_type = #{seatType},
			rt_rev_request = #{request},
			rt_rev_updated_date = sysdate,
			rt_rev_meal_time = #{mealTime},
			rt_rev_is_member = #{isMember},
			rt_rev_is_allergy = #{isAllergy},
			rt_rev_etc_allergy = #{etcAllergy},
			rt_rev_name = #{name},
			rt_rev_email = #{email},
			rt_rev_tel = #{tel},
			rt_rev_card_sort = #{cardSort},
			rt_rev_card_num1 = #{cardNum1},
			rt_rev_card_num2 = #{cardNum2}, 
			rt_rev_card_num3 = #{cardNum3}, 
			rt_rev_card_num4 = #{cardNum4}, 
			rt_rev_card_expiry_month = #{cardExpiryMonth},
			rt_rev_card_expiry_year = #{cardExpiryYear},
			rt_rev_status = #{status},
			rt_rev_reservation_no = #{reservationNo}
		where rt_rev_no = #{no}
	</update>
	
	<!-- List<RtRev> getRtRevsByUser(User user); -->
	<select id="getRtRevsByUserId" parameterType="String" resultMap="RtRevResultMap">
		select *
		from sh_rt_rev
		where user_id = #{value}
		order by rt_rev_visit_date desc
	</select>
	
</mapper>