<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sh.mapper.RoomMapper">

	<resultMap type="Room" id="RoomResultMap">
		<id column="room_id" property="id"/>
		<result column="room_no" property="no"/>
		<result column="room_name" property="name"/>
		<result column="room_price" property="price"/>
		<result column="room_discount_price" property="discountPrice"/>
		<result column="room_rev" property="rev"/>
		<result column="room_checkin_period" property="checkinPeriod"/>
		<result column="room_image" property="image"/>
		<association property="location" column="location_no" select="com.sh.mapper.DiningMapper.getLocationByNo"></association>
		<association property="roomCategory" column="room_category_no" select="com.sh.mapper.RoomMapper.getRoomCategoryByNo"></association>
	</resultMap>

	<!-- Room getRoomById(int id); -->
	<select id="getRoomById" parameterType="int" resultMap="RoomResultMap">
		select *
		from sh_room
		where room_id = #{id}
	</select>
	
	<!-- RoomCategory getRoomCategoryByNo(int no); -->
	<select id="getRoomCategoryByNo" parameterType="int" resultType="RoomCategory">
		select room_category_no as roomCategory, room_category_name as name, category_no as category, room_group_no as roomGroupNo
		from sh_room_category
		where room_category_no = #{no}
	</select>
</mapper>