<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sh.mapper.ShopMapper">

	<!-- ShopProduct getProductByNo(int no); -->
	<select id="getProductByNo" resultType="com.sh.vo.ShopProduct" parameterType="int">
			SELECT P.PRODUCT_NO as no,
				P.PRODUCT_NAME as name,
				P.PRODUCT_IMAGE_NAME as imageName, 
                P.PRODUCT_DETAIL as detail,
                P.PRODUCT_COMPOSITION as composition,
                P.PRODUCT_CAUTION as caution,
                P.PRODUCT_ADDITIONAL_INFO as additionalInfo,
                P.PRODUCT_ONSALE_MIN_DATE as minDate,
                P.PRODUCT_ONSALE_MAX_DATE as maxDate,
				B.SHOP_BUSINESS_NAME as "business.name", 
				L.LOCATION_NAME as "location.name", 
				P.PRODUCT_PRICE as price, 
				P.PRODUCT_DISCOUNT_RATE as discountRate,
				P.PRODUCT_IMAGE_URL_FOR_SHARING as imgUrl
		FROM SH_SHOP_PRODUCT P, SH_SHOP_BUSINESS_NAME B, SH_LOCATION L
		WHERE P.PRODUCT_NO = #{value}
		AND P.SHOP_BUSINESS_NO = B.SHOP_BUSINESS_NO
		AND P.LOCATION_NO = L.LOCATION_NO
	</select>
	
	<!--List<ShopProduct> getAllProductsByMainCategoryNo(int mainCategoryNo); -->
	<select id="getAllProductsByMainCategoryNo" resultType="com.sh.vo.ShopProduct" parameterType="int">
    	SELECT P.PRODUCT_NO as no,
				P.PRODUCT_NAME as name,
				P.PRODUCT_IMAGE_NAME as imageName, 
				B.SHOP_BUSINESS_NAME as "business.name", 
				L.LOCATION_NAME as "location.name", 
				P.PRODUCT_PRICE as price, 
				P.PRODUCT_DISCOUNT_RATE as discountRate,
				M.SHOP_MAINCATEGORY_NAME as "mainCategory.name"
		FROM SH_SHOP_PRODUCT P, SH_SHOP_BUSINESS_NAME B, SH_LOCATION L, SH_SHOP_MAINCATEGORY M
		WHERE P.SHOP_MAINCATEGORY_NO = #{value}
		AND P.SHOP_BUSINESS_NO = B.SHOP_BUSINESS_NO
		AND P.LOCATION_NO = L.LOCATION_NO
        AND P.SHOP_MAINCATEGORY_NO = M.SHOP_MAINCATEGORY_NO
		AND P.PRODUCT_ISONSALE = 'Y'
		AND P.PRODUCT_ISDELETED = 'N'
		ORDER BY P.PRODUCT_UPDATED_DATE DESC
	</select>

	<!-- List<ShopProduct> getProductsByParameters(ShopProductListCriteria shoplistCriteria); -->
	<select id="getProductsByParameters" resultType="com.sh.vo.ShopProduct" parameterType="com.sh.criteria.ShopProductListCriteria">
		SELECT P.PRODUCT_NO as no,
		        P.PRODUCT_NAME as name,
		        P.PRODUCT_IMAGE_NAME as imageName,
		        B.SHOP_BUSINESS_NAME as "business.name", 
		        L.LOCATION_NAME as "location.name", 
		        P.PRODUCT_PRICE as price, 
				P.PRODUCT_DISCOUNT_RATE as discountRate,
				P.SHOP_MAINCATEGORY_NO as "mainCategory.mainCategoryNo",
				M.SHOP_MAINCATEGORY_NAME as "mainCategory.name",
		        S.SHOP_SUBCATEGORY_NAME as "subCategory.subCategoryName"
		FROM SH_SHOP_PRODUCT P, SH_SHOP_BUSINESS_NAME B, SH_LOCATION L, SH_SHOP_MAINCATEGORY M, SH_SHOP_SUBCATEGORY S
		WHERE P.SHOP_BUSINESS_NO = B.SHOP_BUSINESS_NO
		AND P.LOCATION_NO = L.LOCATION_NO
		AND P.SHOP_MAINCATEGORY_NO = M.SHOP_MAINCATEGORY_NO
		AND P.SHOP_SUBCATEGORY_NO = S.SHOP_SUBCATEGORY_NO
		<if test="locationNo > 0">
			AND P.LOCATION_NO = #{locationNo}
		</if>
		<if test="subCategoryNo > 0">
			AND P.SHOP_SUBCATEGORY_NO = #{subCategoryNo}
		</if>
		<if test="mainCategoryNo > 0">
			AND P.SHOP_MAINCATEGORY_NO = #{mainCategoryNo}
		</if>
		ORDER BY P.PRODUCT_UPDATED_DATE DESC
	</select>


	<!-- List<ShopProduct> getProductsByModifiedKeywords(String modifiedKeyword); -->
	<select id="getProductsByModifiedKeywords" parameterType="String" resultType="com.sh.vo.ShopProduct">
		SELECT P.PRODUCT_NO as no,
	        P.PRODUCT_NAME as name,
	        P.PRODUCT_IMAGE_NAME as imageName,
	        B.SHOP_BUSINESS_NAME as "business.name", 
	        L.LOCATION_NAME as "location.name", 
	        P.PRODUCT_PRICE as price, 
			P.PRODUCT_DISCOUNT_RATE as discountRate,
			P.SHOP_MAINCATEGORY_NO as "mainCategory.mainCategoryNo",
			M.SHOP_MAINCATEGORY_NAME as "mainCategory.name",
	        S.SHOP_SUBCATEGORY_NAME as "subCategory.subCategoryName"
	        
		FROM SH_SHOP_PRODUCT P , SH_SHOP_SUBCATEGORY S, SH_SHOP_BUSINESS_NAME B, SH_LOCATION L, SH_SHOP_MAINCATEGORY M
		WHERE P.SHOP_SUBCATEGORY_NO = S.SHOP_SUBCATEGORY_NO
			AND P.SHOP_BUSINESS_NO = B.SHOP_BUSINESS_NO
			AND P.LOCATION_NO = L.LOCATION_NO
			AND P.SHOP_MAINCATEGORY_NO = M.SHOP_MAINCATEGORY_NO
			AND
			<!-- 메소드1 검색결과 29-->
			REGEXP_LIKE ( (P.PRODUCT_NAME || P.PRODUCT_DETAIL || P.PRODUCT_COMPOSITION || S.SHOP_SUBCATEGORY_NAME || M.SHOP_MAINCATEGORY_NAME || B.SHOP_BUSINESS_NAME || L.LOCATION_NAME),
				'${value}')
			ORDER BY P.PRODUCT_UPDATED_DATE DESC
	</select>
		
	
	<!-- List<ShopProduct> getProductsByKeywords(String[] keywords); -->
	
<!--	<select id="getProductsByKeywords" parameterType="java.util.ArrayList" resultType="com.sh.vo.ShopProduct">
		SELECT P.PRODUCT_NO as no,
	        P.PRODUCT_NAME as name,
	        P.PRODUCT_IMAGE_NAME as imageName,
	        B.SHOP_BUSINESS_NAME as "business.name", 
	        L.LOCATION_NAME as "location.name", 
	        P.PRODUCT_PRICE as price, 
			P.PRODUCT_DISCOUNT_RATE as discountRate,
			P.SHOP_MAINCATEGORY_NO as "mainCategory.mainCategoryNo",
			M.SHOP_MAINCATEGORY_NAME as "mainCategory.name",
	        S.SHOP_SUBCATEGORY_NAME as "subCategory.subCategoryName"
	        
		FROM SH_SHOP_PRODUCT P , SH_SHOP_SUBCATEGORY S, SH_SHOP_BUSINESS_NAME B, SH_LOCATION L, SH_SHOP_MAINCATEGORY M
		WHERE P.SHOP_SUBCATEGORY_NO = S.SHOP_SUBCATEGORY_NO
			AND P.SHOP_BUSINESS_NO = B.SHOP_BUSINESS_NO
			AND P.LOCATION_NO = L.LOCATION_NO
			AND P.SHOP_MAINCATEGORY_NO = M.SHOP_MAINCATEGORY_NO
			AND -->
			
			<!-- 메소드 2 검색결과 10 why? 글자 앞뒤에 공백이 들어가네? => 이렇게 하면 앞뒤&가 없는것같이 결과가 나온다,..-->
<!--    			REGEXP_LIKE ( (P.PRODUCT_NAME || P.PRODUCT_DETAIL || P.PRODUCT_COMPOSITION || S.SHOP_SUBCATEGORY_NAME || M.SHOP_MAINCATEGORY_NAME || B.SHOP_BUSINESS_NAME || L.LOCATION_NAME),
			'<foreach collection="array" item="arr" separator="|">${arr}</foreach>')
			ORDER BY P.PRODUCT_UPDATED_DATE DESC -->
		
			<!-- 메소드 3 검색결과 중복데이터로 캐시넘어감.. distinct가 마이바티스에서는 일단 안먹힘?-->
<!--   			<foreach collection="array" item="arr" separator="OR" >
			(P.PRODUCT_NAME || P.PRODUCT_DETAIL || P.PRODUCT_COMPOSITION || S.SHOP_SUBCATEGORY_NAME || M.SHOP_MAINCATEGORY_NAME || B.SHOP_BUSINESS_NAME || L.LOCATION_NAME) LIKE '%${arr}%'			
			</foreach> -->
			
<!--  	</select> -->
	

	

	<!-- List<ShopProduct> getPopularProductsbySoldNo(); -->
	<select id="getPopularProductsbySoldNo" resultType="com.sh.vo.ShopProduct">
		<![CDATA[
			SELECT PRODUCT_NO as no,
					PRODUCT_NAME as name,
					PRODUCT_IMAGE_NAME as imageName,
					SHOP_BUSINESS_NAME as "business.name",
					LOCATION_NAME as "location.name"
			FROM
				(SELECT O.SHOP_OPTION_NUM_SOLD, P.PRODUCT_NO, P.PRODUCT_NAME, P.PRODUCT_IMAGE_NAME, B.SHOP_BUSINESS_NAME, L.LOCATION_NAME
				FROM SH_SHOP_OPTIONS O, SH_SHOP_PRODUCT P, SH_SHOP_BUSINESS_NAME B, SH_LOCATION L
				WHERE P.PRODUCT_NO = O.PRODUCT_NO
				AND P.SHOP_BUSINESS_NO = B.SHOP_BUSINESS_NO
				AND P.LOCATION_NO = L.LOCATION_NO
				ORDER BY SHOP_OPTION_NUM_SOLD DESC)
			WHERE ROWNUM <=6
		]]>
	</select>
	
	<!-- List<ShopProduct> getRecommendedProductsByDiscountRate(); -->
	<select id="getProductsByDiscountRate" resultType="com.sh.vo.ShopProduct">
		<![CDATA[
		SELECT 	P.PRODUCT_NO as no,
		        P.PRODUCT_NAME as name,
		        P.PRODUCT_IMAGE_NAME as imageName,
		        B.SHOP_BUSINESS_NAME as "business.name",
		        L.LOCATION_NAME as "location.name",
		        P.PRODUCT_PRICE as price,
				P.PRODUCT_DISCOUNT_RATE as discountRate
		FROM SH_SHOP_PRODUCT P, SH_SHOP_BUSINESS_NAME B, SH_LOCATION L,
		    (SELECT PRODUCT_NO
		    FROM SH_SHOP_PRODUCT
		    ORDER BY PRODUCT_DISCOUNT_RATE DESC) R
		WHERE P.SHOP_BUSINESS_NO = B.SHOP_BUSINESS_NO
		AND P.LOCATION_NO = L.LOCATION_NO
		AND P.PRODUCT_NO = R.PRODUCT_NO
		AND ROWNUM <= 9
		]]>
	</select>
	
	<!-- List<ShopProduct> getProductOptionsByNo(int no); -->
	<select id="getProductOptionsByNo" parameterType="int" resultType="com.sh.vo.ShopProductOption">
		SELECT
				SHOP_OPTION_NO as no,
				SHOP_OPTION_NAME as name,
				SHOP_OPTION_PRICE as price,
				PRODUCT_NO as "product.no",
				SHOP_OPTION_STOCK as stock,
				SHOP_OPTION_NUM_SOLD as soldNo
		FROM SH_SHOP_OPTIONS
		WHERE PRODUCT_NO = ${value }
	
	</select>
	
	<!-- List<ShopAdditionalImages> getAdditionalImagesByNo(int no); -->
	<select id="getAdditionalImagesByNo" parameterType="int" resultType="com.sh.vo.ShopAdditionalImages">
		SELECT
				SHOP_IMAGE_NO as no,
				SHOP_IMAGE_NAME as name,
				PRODUCT_NO as "shopProduct.no"
		FROM SH_SHOP_ADDITIONAL_IMAGES
		WHERE PRODUCT_NO = ${value }
	</select>
	
	<!-- List<ShopPickOrShip> getGettingMethodsByNo(int no); -->
	<select id="getGettingMethodsByNo" parameterType="int" resultType="com.sh.vo.ShopPickOrShip">
	SELECT
			M.SHOP_PICK_OR_SHIP_NO as no,
			M.SHOP_PICK_OR_SHIP_NAME as name
	FROM SH_SHOP_PICK_OR_SHIP M, SH_SHOP_SELECTED_PICK_OR_SHIP S
	WHERE M.SHOP_PICK_OR_SHIP_NO = S.SHOP_PICK_OR_SHIP_NO
	AND PRODUCT_NO =  ${value }
	
	</select>




</mapper>