<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.mapper.UserMapper">

	<resultMap type="User" id="UserResultMap">
		<id column="user_id" property="id"/>
		<result column="user_password" property="password"/>
		<result column="user_name" property="name"/>
		<result column="user_eamil" property="eamil"/>
		<result column="user_tel" property="tel"/>
		<result column="user_address" property="address"/>
		<result column="user_deleted" property="deleted"/>
		<result column="user_deleted_date" property="deletedDate"/>
		<result column="user_created_date" property="createdDate"/>
		<result column="user_updated_date" property="updatedDate"/>
		<result column="user_point" property="point"/>
		<result column="user_annual_stay" property="stay"/>
	</resultMap>
	<!-- User getUserById(String id); -->
		<select id="getUserById" parameterType="string" resultMap="UserResultMap">
			select *
			from sh_users
			where user_id = #{id}
		</select>
	<!-- User getUserByEmail(String email); -->
	<select id="getUserByEmail" parameterType="string" resultMap="UserResultMap">
		select *
		from sh_users
		where user_email = #{value}
	</select>
	<!-- void insertUser(User user); -->
		<insert id="insertUser" parameterType="User">
		insert into sh_users
		(user_no, user_id, user_password, user_name, user_email, user_tel, user_address, postcode , first_name, last_name, birthday)
		values
		(user_seq.nextval, #{id}, #{password}, #{name},  #{email}, #{tel}, #{postcode}, #{address}, #{firstName}, #{lastName}, #{birthDay})
		</insert>
	<!-- void updateUser(User user); -->
	<update id="updateUser" parameterType="User">
		update sh_users
		set 
			user_password = #{password},
			user_name = #{name},
			user_tel = #{tel},
			user_email = #{email},
			user_address = #{address},
			postcode = #{postcode},
			first_name = #{firstName},
			last_name = #{lastName},
			birthday = #{birthDay},
			user_updated_date = sysdate
		where user_id = #{id}
	</update>
</mapper>